{{#if infinityModel.reachedInfinity}}
  <p>You have reached the end! Did you not find what you are looking for? {{#link-to 'ask'}} Ask an expert! {{/link-to}}</p>
{{else}}
  <button {{action "click"}} class="load-more">{{loadText}}</button>
{{/if}}