<div class="answer-form row">
  <div class="col-1"></div>
  <div class="col-8">
    <form>
      <div class="row">
        <label for="answer" class="required">Post your answer</label>
      </div>
      <div class="row">
        {{validated-input type="textarea" model=this valuePath="answer" cols="30" rows="5" placeholder="Enter your answer" value=answer id="answer"
                          didValidate=didValidate required=true}}
      </div>
      <div class="row input-error">
        {{#if errorMessage}}
          {{errorMessage}}
        {{/if}}
      </div>
      <div class="row">
        <button type="submit" class="btn btn-primary" {{action 'postAnswer' answer post}}>Post your answer</button>
      </div>
    </form>
  </div>
</div>