<div class="post-container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h3>Expert Advice</h3>
      <h5>Get answers to difficult questions</h5>
    </div>
  </div>

  {{post/post-form post=model.post previousPath=previousPath}}

  {{outlet}}
</div>
