<div class="row h-screen">
  <main role="main" class="col-md-10">
    <p>Dashboard is under construction.</p>

    <p>Until then enjoy the posts {{link-to 'here' 'index'}}</p>

    {{outlet}}
  </main>
</div>
