<div class="post-container">
  <div class="row">
    <div class="col-10 offset-2">
      <div class="row">
        <div class="col-8">
          <h3>Expert Advice</h3>
          <h5>Get answers to difficult questions</h5>
        </div>
        <div class="col-4">
          {{#link-to 'ask' class='btn btn-primary ask-btn'}} Ask a question {{/link-to}}
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-10 offset-2">
      <div class="row">
        <div class="col-8">
          {{input type="text" enter=(action "searchPosts") id="search-bar" value=term placeholder="Type and press enter to search with tags" class="search-bar"}}
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-8 offset-2">
      <div class="row">
        <div class="col-1">
          <p>Views</p>
        </div>
        <div class="col-8">
          <p>Question</p>
        </div>
      </div>
    </div>
  </div>
  {{#each sortedQuestions as |question|}}
    {{post/post-header post=question}}
  {{/each}}

  <div class="row">
    <div class="col-8 offset-4">
      {{load-more-button infinityModel=model.posts}}
    </div>
  </div>


  {{outlet}}
</div>